.page-title{
    font-size: 6vw;
    letter-spacing: 2.6vw;
    text-transform: uppercase;
    text-align: center;
    color: hsla(192, 18%, 49%, 1);
    text-shadow: 0px 6px 10px #3d5257;
    text-indent: 2.6vw;
    opacity: 1;
    font-weight: 100;
    width: 100vw;
    max-width: 100%;
    display: block;
    margin: 0;
    position: relative;
    user-select: none;
    white-space: nowrap;
    left: auto;
    pointer-events: none;
}

.page-subtitle{
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    font-size: 1vw;
    letter-spacing: 1.8vw;
    text-indent: 1.8vw;
    color: rgba(255,255,255,.5);
    position: relative;
}

body {
    background-color: #030326;
}

.heading {
    top: 50%;
    left: 50%;
    z-index: 100;
    position: fixed;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main-content{
    background-color: #3a3a3b;
    padding: 20px;
    margin: 20px;
}

/* The navbar container */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
  }
  
  /* Navbar links */
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 4vw;
    padding-left: 4vw;
    letter-spacing: 0.2vw;
    text-indent: .2vw;
    /*font-size: 1vw;*/
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }