body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Layer Section */
.open .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    z-index: 2;
    animation: slideup 1.5s forwards;
    animation-delay: 0.5s;
}

.open .layer:nth-child(2) {
    z-index: 1;
    background-color: rgb(0, 0, 0);
    animation-delay: 1.5s;
}

@keyframes slideup {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* background Section */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c40;
    overflow: hidden;
}

.triangle {
    position: absolute;
    bottom: -10%;
    left: 55%;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 10px solid rgba(24, 24, 24, 0.514);
    z-index: 0;
    opacity: 0;
    transform: rotate(45deg);
    animation: box-rotate 6s forwards;
    animation-delay: 3s;
}

@keyframes box-rotate {
    0% {
        opacity: 0;
        transform: rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: rotate(320deg);
    }
}


.background-text h1 {
    opacity: 0;
    font-size: 30em;
    align-self: center;
    color: rgba(255, 253, 253, 0.109);
    z-index: -1;
    animation: background-text-reveal 1s forwards;
    animation-delay: 2.5s;
}

@keyframes background-text-reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.background-red {
    position: absolute;
    top: -40%;
    right: -19%;
    width: 50%;
    height: 160%;
    background: linear-gradient(rgba(236, 42, 101, 0.75), rgb(234, 39, 39));
    transform: rotate(-26deg);
}

/* navigation Section */
.navbar-brand img {
    width: 35%;
    margin-right: 5px;
    opacity: 0;
    animation: logo 1.5s ease-in-out forwards;
    animation-delay: 4.5s;
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    40%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li {
    position: relative;
    transition: .5s;
    margin: 5px;
    opacity: 0;
    animation: nav 1.5s ease-in-out forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 4.5s;
}

nav ul li:nth-child(2) {
    animation-delay: 4.7s;
}

nav ul li:nth-child(3) {
    animation-delay: 4.9s;
}

nav ul li:nth-child(4) {
    animation-delay: 5.1s;
}

@keyframes nav {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    40%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: white;
}

nav ul li:hover:before {
    width: 60%;
}

nav ul li a {
    color: rgb(219, 219, 219);
}

nav ul li a:hover {
    color: white;
}

/* Main Section */
.main {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.maintext h4 {
    opacity: 0;
    font-size: 30px;
    color: white;
    animation: textanimation 1.5s ease-in-out forwards;
    animation-delay: 3.5s;
}

@keyframes textanimation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    40%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.maintext h1 {
    font-size: 3.7em;
    line-height: 1;
    opacity: 0;
    animation: textanimation 1.5s ease-in-out forwards;
    animation-delay: 4s;
}

.star-icon {
    margin: 20px 0;
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 4.5s;
}

@keyframes iconreveal {

    0%,
    40%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.star-icon svg {
    margin: 0 3px;
    font-size: 12px;
    color: rgb(243, 178, 13);
}

.maintext p {
    padding: 0 30px 0 0;
    color: rgb(185, 185, 185);
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 4.7s;
}

.maintext a {
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(207, 28, 52);
    transition: .5s;
    opacity: 0;
    animation: textanimation 1.5s ease-in-out forwards;
    animation-delay: 5.5s;
}

.maintext a:hover {
    background-color: rgb(245, 8, 39);
    color: white;
}

.img {
    position: relative;
    width: 100%;
}

.img img {
    width: 100%;
    transform: rotateY(-180deg) rotate(25deg);
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 6s;

}

/* Footer Section */
.footer {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.footer-section1 p {
    color: rgb(185, 185, 185);
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 6.2s;
}

.created {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    transition: .5s;
}

.created img {
    transition: .5s;
    opacity: 0;
    animation: logo 1.5s ease-in-out forwards;
    animation-delay: 6s;
}

#canvas {
    height: 200px;
    width: 200px;
}