/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}
.main {
  width: 100%;
  float: left;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.main-outer {
  width: 100%;
  float: left;
  padding: 3em;
}
.main-left {
  width: 25%;
  float: left;
}
.main-left aside {
  width: 100%;
  background: #333;
  height: calc(100vh - 6em);
  float: left;
  padding: 40px;
}
.main-left aside h3 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.main-left p {
  margin-bottom: 15px;
}
.main-left label {
  color: #fff;
  display: block;
  padding-bottom: 10px;
}

.main-left aside button {
  float: right;
  background: #fff;
  border: none;
  height: 35px;
  padding: 0 26px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.main-right {
  width: 70%;
  float: right;
}

.main-right .img-area {
  width: 100%;
  height: 77vh;
  overflow: hidden;
}
.main-right .img-area img {
  width: 100%;
}

.main-right input[type="text"] {
  width: 79%;
  margin-bottom: 20px;
  height: 45px;
  padding: 10px;
}

.main-right button {
  float: right;
  background: #333;
  border: none;
  height: 45px;
  padding: 0 26px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
} */

/* *{
  padding:0;
  margin: 0;
  font-family: sans-serif;
}

body{
  background: #2e2b2b;
}

.img-container{
  position:absolute;
  width: 50%;
  height:50%;
  top: 41%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.image{
  max-width: 100%;
  max-height: 100%;
}

.file-upload-section{
  margin:auto;
  margin-top: 5%;
  font-weight: bold;
  width: 50%;
  padding:4px;
  color:white;
  text-align: center;
  background: red;
  cursor: pointer;
}

#my-file{
  display: none;
}

.buttons-section{
  position: fixed;
  margin: auto;
  top: 67%;
  left:25%;
  color:white;
  width:50%;
}

.buttons-table{
  width:100%;
}

.buttons-table td{
  padding: 3px;
  text-align: center;
}

.operation-btn{
  padding: 8px;
  border:0;
  background: #201e1e;
  color:white;
  width:100%;
  cursor:pointer;
  font-weight: bolder;
  box-shadow: 0 0.025rem 0.25rem rgba(0,0,0,0.2),0 0 1rem rgb(0,0,0,0.2);
}

.download-btn{
  background: red;
  
} */

  #canvas {
  margin: auto;
  background: #ececec;
  width: 100%;
}

.btn-disabled {
  color: #fff !important;
}