/*Tree View Child*/
.child{
    width: 75%;
    margin: 10px;
    padding: 1px 16px;
    background-color: #007cc3;
    border-radius: 10px;
    text-align: left;
    color: white;
}

.child:hover{
    background-color: #005a8f;
}

/*Tree View List*/
.list{
    list-style-type: none;
    padding: 0;
}

/*Create Flare Button*/
#create_flare{
    margin:10px;
}

/* Sidebar */
.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* Sidebar Links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* Sidebar Hover*/
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Close Button */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    /* margin-left: 50px; */
  }
  
  /* Main Content */
  #main {
    transition: margin-right .5s; /* If you want a transition effect */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }